.calc-body {
    display: grid;
    max-width: 40em;
    grid-template-columns: repeat(4, 4em);
    grid-template-rows: repeat(6, 4em);
}

.calc-button-wrapper {
    /* display: subgrid; */
    /* max-width: 40em; */
}

.col-span-two {
    grid-column-end: span 2;
}

.col-span-three {
    grid-column-end: span 3;
}

.col-span-four {
    grid-column-end: span 4;
}